.new_post {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contentTextarea {
    width: 100%;
    min-height: 50px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
}

.autoExpand {
    overflow-y: hidden; 
    transition: height 0.2s ease;
}

.optionsRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit {
display: flex;
align-items: center;
}

.button {
    padding: 10px 15px;
    border: 2px solid chartreuse;
    border-radius: 10%;
    font-weight: bold;
    color: rgb(2, 48, 48);
    background-color: honeydew;
    transition-duration: 0.5s;
    margin-left: 10px;
}

.button:hover {
    background-color: chartreuse;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.visibility {
    display: flex;
    gap: 20px;
}

.visibility label {
    font-weight: bold;
    color: rgb(2, 48, 48);
}

