.post {
    padding: 15px 0px;
    background-color: rgb(233, 231, 229);
    margin: 30px 0px;
    border-radius: .7%;
  }
  
  .postHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
  }
  
  .defaultProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 10px;
  }
  
  .authorInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .edit {
    text-align: right;
    margin-right: 10px;
  }

  @media (prefers-color-scheme: dark) {
    .post {
        background-color: rgb(40, 40, 41);
        color: white;
    }
  }
  