.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #a5d6ad;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: rgb(2, 48, 48);
}

.googleButton:hover {
    background-color: #43694a;
    color: white;
}

.googleButton:active {
    background-color: #3367d6;
}

.googleButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.4);
}
