.postPrompt {
    background-color: #8d9399;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin: auto;
    column-gap: 15px;
  }
  
  .postPrompt:hover {
    background-color: #5a5e63;
  }

  .inputContainer {
    width: 90%;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
  }

  .uploadIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }