.postListItem {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.postListItem h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.postListItem p {
    font-size: 16px;
    margin-bottom: 10px;
}

.postImage {
    max-width: 100%;
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 10px;
}

.authorDetails {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.authorDetails p {
    margin-right: 10px;
}

.authorAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.approveButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.approveButton:hover {
    background-color: #45a049;
}
