.commentSection {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.commentList {
    margin-bottom: 20px;
}

.comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-word; /* Ensure long words wrap */
    white-space: pre-line; /* Preserve line breaks */
}


.commentHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.authorName {
    font-weight: bold;
    cursor: pointer;
}

.commentButton {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.commentButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.commentInput {    
    height: auto; /* Ensures the input height adjusts dynamically */
    min-height: 38px; /* Minimum height when empty */
    max-height: 200px; /* Maximum height to limit growth */
    overflow-y: auto; /* Enables vertical scroll if necessary */
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    margin-bottom: 10px;
    transition: height 0.2s ease;
}

.addComment {
    display: flex;
    align-items: center;
}

.addComment input[type="text"],
.addComment button {
    margin-right: 10px;
}

.addComment button {
    padding: 8px 15px;
}
