.imageUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: left; 
}

.customFileUpload {
    display: inline-block;
    position: relative;
    cursor: pointer; 
}

.customFileUpload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.previewContainer {
    max-width: 100%;
    max-width: 800px;
    max-height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.previewImage {
    width: 100%; 
    height: auto;
}
