.imageUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customFileUpload {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 10px;
}

.customFileUpload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.uploadIcon {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}
