.nav {
    background-color: darkcyan;
    padding: 50px 100px;
}

.leftNav {
    
}

.rightNav {
    display: flex;
    justify-content: right;
}
.title {
    font-weight: 800;
    font-size: 50px;
}

.link {
    padding-left: 25px;
    cursor: pointer;
}