.nav {
    background-color: darkcyan;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 800;
    font-size: 50px;
}