.nav {
    background-color: darkcyan;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.navOpen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: darkcyan;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftNav {
    display: flex;
    flex-direction: column;
}

.rightNav {
    display: flex;
    align-items: center;
}

.rightNav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: darkcyan;
    z-index: 10;
    padding: 0;
    overflow-y: hidden;
}

.title {
    font-weight: 800;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    letter-spacing: .5px;
}

.description {
    color: #fff;
    font-size: 25px;
    margin-top: 4px;
    letter-spacing: 1.7px;
}

.link {
    padding: 12px 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.link:hover {
color: chartreuse;
font-size: 29px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute; 
    top: 20px;
    right: 20px;
    z-index: 11;
}

.hamburger.open {
    position: fixed; 
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #fff;
    position: absolute;
    transition: all 0.3s ease;
}

.hamburger span:nth-child(1) {
    top: 8px;
}

.hamburger span:nth-child(2) {
    top: 15px;
}

.hamburger span:nth-child(3) {
    top: 22px;
}

.hamburger.open span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
}

@media only screen and (max-width: 1000px) {
    .rightNav {
        display: none;
    }

    .rightNav.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: darkcyan;
        z-index: 10;
        padding: 0;
        overflow-y: hidden;
    }

    .link {
        font-size: 34px;
        margin: 20px 0;
    }
    .link:hover {
        font-size: 35px;
    }

    .hamburger {
        display: flex;
    }

    .nav {
        padding: 20px;
    }

    .leftNav {
        margin-right: auto;
    }

    .description {
        display: none;
    }
}

@media only screen and (min-width: 1001px) {
    .rightNav {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .nav {
        position: relative;
    }
}